.photo-grid {
    max-width: 1184px;
    margin: 92px auto 0;
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        margin-top: calc((100vw - 768px) / (1024 - 768) * (92 - 88) + 88px);
        padding-left: calc((100vw - 768px) / (1024 - 768) * (48 - 24) + 24px);
        padding-right: calc((100vw - 768px) / (1024 - 768) * (48 - 24) + 24px);
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        margin-top: calc((100vw - 320px) / (768 - 320) * (88 - 64) + 64px);
        padding-left: calc((100vw - 320px) / (768 - 320) * (24 - 16) + 16px);
        padding-right: calc((100vw - 320px) / (768 - 320) * (24 - 16) + 16px);
        gap: calc((100vw - 320px) / (768 - 320) * (16 - 12) + 12px);
    }
}