.place__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    border-bottom: 2px solid #fff;
    transition: opacity .2s linear;
}

.place__link:hover {
    opacity: .8;
}