.lead__road {
    animation: road 5s linear;
}

@keyframes road {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.3;
    }

    15% {
        opacity: .5;
    }

    20% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}